<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696599939670-dl97iohcs9lkrn253ofjgpm2lc28b35d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696599939670-dl97iohcs9lkrn253ofjgpm2lc28b35d</string>
	<key>API_KEY</key>
	<string>AIzaSyCcjJxSD5lebHOhAsPJgHwN7tDk4tSHvIo</string>
	<key>GCM_SENDER_ID</key>
	<string>696599939670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseApp</string>
	<key>PROJECT_ID</key>
	<string>expense-app-41b0f</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-app-41b0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696599939670:ios:7e6021cc41b8e5fd4509f7</string>
	<key>DATABASE_URL</key>
	<string>https://expense-app-41b0f.firebaseio.com</string>
</dict>
</plist>